*, 
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    font-size: 62.5%;
    font-weight: 500;
    font-family: 'Author', sans-serif;
}

ul {
    list-style-type: none;
}

button, input, select, textarea {
    border: none;
    outline: none;
    background-color: transparent;
}

button, [type=button] {
    cursor: pointer;
}